<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Error!</title>
<link rel="stylesheet" type="text/css" media="all"
href="" th:href="@{css/myCSS.css}"/>
<link rel="stylesheet" type="text/css" media="all"
href="" th:href="@{css/buttonCSS.css}"/>
</head>
<body>
<a href="" th:href="@{/}"><img src="../image/logo1.png" th:src="@{../image/logo1.png}" class="logo"/></a>
<h1>The information you have entered or selected is incorrect.</h1>
<h1>Please go back to the home page.</h1>
<a th:href = "@{/}">Home</a>

</body>
</html>