<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search by Title</title>
<link rel="stylesheet" type="text/css" media="all"
href="../static/css/myCSS.css" th:href="@{css/myCSS.css}"/>
<link rel="stylesheet" type="text/css" media="all"
href="" th:href="@{css/buttonCSS.css}"/>
</head>
<body>
<a href="" th:href="@{/}"><img src="../image/logo.png" th:src="@{../image/logo.png}" class="logo"/></a>
<h1>Please enter the Title of the Book</h1>
<div class="lower">
<form action="#" th:action="@{/searchByTitle}" th:object="${book}">
Book Title: <input type="text" th:field="*{title}"/><br><br>
<input type="submit" value="Search" class="submitB"/><br><br> 
</form>
<a th:href = "@{/search}"><button class="cancelButton">Cancel</button></a>
</div>
</body>
</html>