@charset "ISO-8859-1";
body{
	background-color: #cccccc;
	font-family: "Tahoma", Geneva, sans-serif;
	text-align:center;
	color: #262673;
}

.lower{
	border: none;
	border-radius:5px;
	padding: 20px 0px;
	width: 75%;
	text-align: center;
	display: inline-block;
	background-color: #ededed;
}

h1{
	font-size:45px;
	letter-spacing: 2px;
}

h2{
	text-align: left;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b2b2b2;
}



