<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Books</title>
<link rel="stylesheet" type="text/css" media="all"
href="../static/css/myCSS.css" th:href="@{css/myCSS.css}"/>
<link rel="stylesheet" type="text/css" media="all"
href="" th:href="@{css/buttonCSS.css}"/>
</head>
<body>
<a href="" th:href="@{/}"><img src="../image/logo.png" th:src="@{../image/logo.png}" class="logo"/></a>
<h1>Add Books</h1><br>
<div class="lower">
<form action="#" th:action="@{/save}" th:object="${book}">
Library Location:  <select  name="locations" th:field="*{locations}">
					 <option  th:each="l:*{locations}" th:value="${l}" th:text="${l}"/>
				   </select><br><br>
Title: <input type="text" th:field="*{title}"/><br><br>
Author: <input type="text" th:field="*{author}"/><br><br>
Price: <input type="text" th:field="*{price}"/><br><br>
Quantity: <input type="number" th:field="*{quantity}" max=50/><br><br>
Related Course:  <select th:field="*{courses}" name="courses" size=10 multiple>
					<option value='' disabled selected> -- options -- </option>
					<option th:each="c:*{courses}" th:value="${c}" th:text="${c}"/>
				 </select><br><br>

<input type="submit" value="Save" class="submitB"/><br><br>
</form>
<a th:href = "@{/}"><button class="cancelButton">Cancel</button></a>
</div>
</body>
</html>