<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Purchase Books</title>
<link rel="stylesheet" type="text/css" media="all"
href="../static/css/myCSS.css" th:href="@{css/myCSS.css}"/>
<link rel="stylesheet" type="text/css" media="all"
href="" th:href="@{css/buttonCSS.css}"/>
</head>
<body>
<a href="" th:href="@{/}"><img src="../image/logo.png" th:src="@{../image/logo.png}" class="logo"/></a>
<h1>How do you want to purchase the book?</h1>
<div class="lower">
<a th:href = "@{/view}"><button class="buttonHome">View Entire Books</button></a><br><br>
<a th:href = "@{/search}"><button class="buttonHome">Search for Books</button></a><br><br>
</div> 
</body>
</html>